body{
    background: url("ce776479-2ecb-40b0-9f19-e0ecb0806bd0.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
.card-header{
    background-color: rgb(255,217,228);
    border-radius: 10px;
}
.todo-form{
    background-color: rgb(7, 47, 50);
}
.card-row{
    background-color: rgb(159,158,165);
    border-radius: 10px;
}
