body{
    background: url("website-background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
.card-header{
    background-color: rgba(166, 106, 27, 0.692);
    border-radius: 10px;
}
.card-row{
    background-color: rgba(159, 158, 165, 0.309);
    border-radius: 10px;
}
.todo-form{
    background-color: rgb(7, 47, 50);
}
.card-title{
    text-align: center;
    text-decoration: underline;
    vertical-align: middle;
}


